body{
    margin: 0;
}
button{
    border-radius: 6px;
}
ul{
    margin: 0;
    list-style:none;
}
li{
    font-family: cursive;
    font-size: 12px;
}
.list{
    display: none;
}
.active{
    display: block;
}